@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'equestria';
  src: url('/equestria.ttf');
}

.font-equestria {
  font-family: 'equestria';
  font-size: 50;
}